.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 2px 2px black;
    height: 220px;
}